dist: trusty
sudo: false
language: python
python:
  - '2.7'
  - '3.3'
  - '3.4'

install:
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install pylint_runner

script:
  - nosetests -v --with-coverage --cover-package=pylint_runner
  - pylint_runner

after_success:
  - coveralls

deploy:
  provider: pypi
  user: Master_Odin_Bot
  password:
    secure: NA6DRE/llIT1LhMu5JlYMH8yShAI3qpAVCasYpfCncRnChY7Cr5fRI4eEW465T0xQLXNKEQod3pRvmCWFtAKTtHx7Eqkf2+lZlK7bO0ToYrJ8QL3lAl3EY9UpQDBNtECc2/6ctROND2UqqifZkuHUKvNHc3qsjTGDAeFzvPQxj4=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: MasterOdin/pylint_runner
